name: zenquery_hooks_example
description: Demonstrates how to use the zenquery_hooks package.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3
  hooks_riverpod: ^3.0.0-dev.0
  riverpod: ^3.0.0-dev.0
  zenquery:
    path: ../../zenquery
  zenquery_hooks:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
